.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 328px;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    position: relative;
    cursor: pointer; /* Make it clear the card is interactive */
}
  
 .card:hover .card-content {
    bottom: 0; /* Bring the content up */
    opacity: 1; /* Make the content visible */
    transform: translateX(-50%) translateY(-2rem); /* Slide up the content */
}
  
  .card-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 1.5rem;
}
  
  .card-content {
    position: absolute;
    bottom: -100%; /* Start off-screen */
    left: 50%;
    transform: translateX(-50%); /* Center it horizontally */
    opacity: 0; /* Initially invisible */
    width: 90%;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    transition: all 0.5s ease; /* Smooth transition for transform and opacity */
}


  
  .card-title {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .card-description {
    font-size: 0.875rem;
    color: #757575;
    margin-bottom: 0.5rem;
  }
  
  .card-button {
    font-size: 0.875rem;
    font-weight: 500;
    color: #5d17eb;
    text-decoration: none;
  }
  
  .card-button:hover {
    text-decoration: underline;
  }
  
  .card-content button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #5d17eb;
    text-decoration: underline;
  }
  
  .card-content button:hover {
    color: #3b11b1;
  }
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .card {
       width: 280px; /* Adjust width for smaller screens */
       margin-inline: 1rem;
    }
 
    .card-content {
       width: 250px; /* Reduce the content box size */
       padding: 1rem;
    }
 }
 
 /* For medium devices */
 @media screen and (min-width: 768px) {
    .grid {
       grid-template-columns: repeat(2, 1fr); /* Adjust grid layout for medium screens */
       column-gap: 1.5rem;
    }
 
    .card {
       width: 320px; /* Adjust card width */
    }
 
    .card-content {
       width: 280px; /* Adjust content box size */
       padding: 1.5rem;
    }
 }
 
 /* For large devices */
 @media screen and (min-width: 1120px) {
    .container {
       height: 100vh;
    }
 
    .grid {
       grid-template-columns: repeat(3, 1fr); /* Adjust grid layout for large screens */
       gap: 2rem;
    }
 
    .card {
       width: 348px; /* Increase card width for larger screens */
    }
 
    .card-content {
       width: 316px; /* Increase content box width */
       padding: 2.5rem;
    }
 }
   