@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-sans bg-n-8 text-n-1 text-base;
  }
}

.rotate-45 {
  @apply rotate-[45deg];
}

.rotate-90 {
  @apply rotate-[90deg];
}

.rotate-135 {
  @apply rotate-[135deg];
}

.rotate-180 {
  @apply rotate-[180deg];
}

.rotate-225 {
  @apply rotate-[225deg];
}

.rotate-270 {
  @apply rotate-[270deg];
}

.rotate-315 {
  @apply rotate-[315deg];
}

.rotate-360 {
  @apply rotate-[360deg];
}

.-rotate-45 {
  @apply rotate-[-45deg];
}

.-rotate-90 {
  @apply rotate-[-90deg];
}

.-rotate-135 {
  @apply rotate-[-135deg];
}

.-rotate-180 {
  @apply rotate-[-180deg];
}

.-rotate-225 {
  @apply rotate-[-225deg];
}

.-rotate-270 {
  @apply rotate-[-270deg];
}

.-rotate-315 {
  @apply rotate-[-315deg];
}

.-rotate-360 {
  @apply rotate-[-360deg];
}



/* Gradient Background for the entire section */
.gradient-background {
  background: linear-gradient(135deg, #1a1a1a 0%, #000000 40%, #5d17eb 100%);
  padding: 60px 0;
}

/* Neon Text Effect for Prices */
.neon-text {
  text-shadow: 0 0 8px #5e57ff, 0 0 15px #5e57ff;
}

/* Hover Effect for the Buy Now Button */
/* button {
  background-color: #5d17eb;
  box-shadow: 0 0 8px rgba(93, 23, 235, 0.7);
  transition: background-color 0.3s ease;
} */

button:hover {
  background: transparent;
  /* box-shadow: 0 0 12px rgba(93, 23, 235, 1), 0 0 20px rgba(93, 23, 235, 0.7); */
}

/* Adding some padding around the container */
.container {
  padding-left: 20px;
  padding-right: 20px;
} 


/* Team Member Card Animation */
.radio-border {
  position: relative;
  padding: 0;
  /* display: inline-block; Wrap the content */
  will-change: transform;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;

}

.radio-border::after, 
.radio-border::before {
  --angle: 0deg;
  content: '';
  position: absolute;
  height: 98%; /* Make it larger than the image */
  width: 98%; /* Make it larger than the image */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.05); /* Slightly larger than the image */
  /* background-image: conic-gradient(from var(--angle),black, #89F9E8, #FACB7B,black, #D87CEE, #FACB7B,black, #9099FC, #89F9E8,black); */
  background-image: conic-gradient(from var(--angle), transparent 10%, white);
  z-index: -1;
  border-radius: 10px;
  animation: spin 5s linear infinite; /* Infinite spinning animation */
}

.radio-border::before {
  filter: blur(0.5rem); /* Blur the glow */
  opacity: 0.5;
}

/* Keyframes for the spinning animation */
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

/* Scale it to 1.05 to make the border bigger */
.radio-border img {
  display: block;
  border-radius: 10px; /* Ensure the image has the same border-radius */
  position: relative; /* Stack the image above the animation */
}




/* Classes card border */

 
.card-border {
  position: relative;
  padding: 0;
  z-index: 1;
  /* display: inline-block;  */
  will-change: transform;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;

}

.card-border::after, 
.card-border::before {
  --angle: 0deg;
  content: '';
  position: absolute;
  height: 98%; 
  width: 96%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.05); 
  background-image: conic-gradient(from var(--angle), #89F9E8, #FACB7B,#D87CEE, #FACB7B, #9099FC, #89F9E8);
  /* background-image: conic-gradient(from var(--angle), transparent 10%, white); */
  z-index: -1;
  border-radius: 10px;
  animation: spin 8s linear infinite; /* Infinite spinning animation */
}

.card-border::before {
  filter: blur(0.5rem); /* Blur the glow */
  opacity: 0.5;
}

/* Keyframes for the spinning animation */
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}   